<h1>Directives</h1>
<h2>Buildin Directives</h2>
<h3> Stuctural directives</h3>

<h1 *ngIf="value ; else  elseblockuser"> if block is executed</h1>
<ng-template #elseblockuser>
    <h2>this is else block</h2>
</ng-template>
<br>
<div *ngIf="true ; then thenblock ; else elseblock"></div>
    <ng-template #thenblock>
        <h1>then(if) block is excuted</h1>
    </ng-template>
    <ng-template #elseblock>
<h1> else block is excuted</h1>
    </ng-template>
    <br>
    
    <h1>NGFOR</h1>
    <h1 *ngFor="let nf of namefor">
        {{nf}}
        </h1>
        <br>
        <h1>Switch case</h1>
        <div [ngSwitch]="colorswitch">
            <div *ngSwitchCase="'red'"><h2>Matching color is Red</h2></div>
            <div *ngSwitcCase="'blue'"><h2>Matching color is Blue</h2></div>
            <div *ngSwitchCase="'green'"><h2>Matching color is green</h2></div>
            <div *ngSwitchDefault="'No match'"><h2>Not Matching</h2></div>
    <br>
    <h1>Attribute Directives</h1>
    <br>
        <input type="text" [ngStyle]="{'background-color':'blue'}" placeholder="using ngStyle">
        <br>
        <br>
        <div *ngFor="let a of array">
            <input type="text" value="{{a.value}}" [ngClass]="a.value==3 ? 'blocka' : 'blockb' ">
        </div>

    